<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="static/styles/water.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
  </head>
  <body>
    {% include "templates/navbar.html" ignore missing %}
    <h1>Benvingut!</h1>
    <h2>Petit aplicatiu web escrit amb Flask</h2>
    <p>
      Utilitza el menú de navegació de dalt per a moure't per les diferents
      funcionalitats d'aquest aplicatiu
    </p>
  </body>
</html>
